/* font-family: 'Poppins', sans-serif;  color: #F89F2D; orange*/

/* HEROSECTION */

button.buynow {
  width: 9rem;
  padding: 12px;
  border-radius: 50px;
  background: #f89c24;
  color: white;
  border: none;
  font-size: 18px;
  margin-right: 25px;
  transition: 0.4s;
}
p.text-para {
  color: #253e5b;
  width: 90% !important;
  padding: 25px 0px;
  font-size: 19px;
}
button.buynow:hover {
  background: #253e5b;
}
button.telgram {
  width: 6rem;
  padding: 15px;
  border-radius: 50px;
  background: #f89c24;
  color: white;
  border: none;
  font-size: 17px;
  margin-right: 25px;
  transition: 0.4s;
}
button.telgram:hover {
  background: #253e5b;
}
button.whitepaper {
  width: 8rem;
  padding: 12px;
  border-radius: 50px;
  background: white;
  border: 1px solid #f89c24 !important;
  color: #f89c24;
  border: none;
  font-size: 18px;
  transition: 0.4s;
}
button.whitepaper:hover {
  background: #253e5b;
  color: white;
  border: none !important;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-content {
  padding-left: 3rem;
}
img.header-image {
  display: block;
  margin-right: 70px;
  height: 60vh;
}
p.text-para {
  padding: 25px 0px;
  font-size: 19px;
}
h1.heading1 {
  font-size: 40px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 1024px) {
  img.header-image {
    display: block;
    margin-right: auto;
    height: 40vh;
  }
}
@media screen and (max-width: 540px) {
  .header-container {
    display: grid;
  }
  .header-content {
    padding-left: 2rem;
  }
  button.buynow {
    width: 9rem;
    padding: 12px;
    border-radius: 50px;
    background: #f89c24;
    color: white;
    border: none;
    font-size: 18px;
    margin-right: 7px;
    transition: 0.4s;
  }
}
@media screen and (max-width: 280px) {
  button.telgram {
    width: 6rem;
    padding: 15px;
    border-radius: 50px;
    background: #f89c24;
    color: white;
    border: none;
    font-size: 17px;
    margin-right: 25px;
    transition: 0.4s;
    margin-top: 4px;
    margin-bottom: 7px;
    margin-left: 11px;
  }
}

@media screen and (max-width: 912px) {
  .header-container {
    display: grid;
    align-items: center;
  }
  a.nav-a.active {
    color: black !important;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    transition: 0.5s;
    margin-left: 12px;
  }
  li.nav-item {
    margin-left: 14px;
  }
}

/* PARTNERS */
section.partners-section {
  margin-top: 7rem;
  margin-bottom: 11rem;
}
h2#partners {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.partners-content {
  text-align: center;
}
.partners-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
}
img.gb {
  width: 70%;
}
a.er-link {
  text-decoration: none;
  color: black;
  filter: grayscale(100%);
}
a.er-link:hover {
  filter: grayscale(0);
  color: #f89c24;
}
.coinMraketCap {
  border-bottom: 1px solid;
  padding-bottom: 14px;
  transition: 0.4s;
}
.coingecko {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  transition: 0.4s;
}

@media screen and (max-width: 540px) {
  .partners-images {
    margin-top: 3rem;
    display: grid;
  }
  img.gb {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .coinMraketCap {
    border-bottom: 1px solid;
    padding-bottom: 14px;
    transition: 0.4s;
    margin-bottom: 20px;
  }
  .coingecko {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    transition: 0.4s;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 280px) {
  img.mgb {
    width: 60% !important;
  }
  img.gb {
    width: 60% !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 912px) {
  .partners-images {
    margin-top: 3rem;
    display: grid;
  }
  img.mgb {
    width: 90%;
  }
  .coinMraketCap {
    border-bottom: 1px solid;
    padding-bottom: 14px;
    transition: 0.4s;
    padding-top: 40px;
  }
  .coingecko {
    border-bottom: 1px solid;
    padding-bottom: 14px;
    transition: 0.4s;
    padding-top: 40px;
  }
}
.container {
  padding-bottom: 10rem;
}

/* TOKEN */

.section-header {
  text-align: center;
  margin-bottom: 50px;
  color: #2c3e5b;
}
.container-token {
  padding-top: 7rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.info-block {
  border: 1px solid;
  margin-bottom: 15px;
}
.circle-block.marketing {
  height: 60px;
  background-color: #ffd6ad;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2c3e5b;
}
.circle-block.liquidity {
  height: 60px;
  background-color: #ffd6ad;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2c3e5b;
}
.circle-block.team {
  height: 60px;
  background-color: #ffe5cc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2c3e5b;
}
.circle-block.airdrop {
  height: 200px;
  background-color: #ffeedb;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2c3e5b;
}
.tokenomics-total {
  text-align: center;
  margin-top: 50px;
}

.info-block {
  border: none;
  box-shadow: 0px 10px 48px rgb(0 0 0 / 4%);
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 7px;
}
span.percent {
  display: inline-block;
  vertical-align: middle;
  color: #f89c24;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
}
span.count {
  display: inline-block;
  vertical-align: middle;
  color: #2c3e5b;
  font-family: "Poppins", sans-serif;
  font-size: 29px;
}
span.dot {
  background: #2c3e5b;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 15px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
}
span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 5px;
  font-weight: 700;
}
.desc {
  padding-top: 20px;
}
.tokenomics-circle {
  border: 6px solid #ffad62;
  border-radius: 50%;
  overflow: hidden;
  width: 391px;
  height: 391px;
  margin-left: 30px;
}
a.block {
  text-decoration: none;
  color: black;
}
.title {
  font-size: 28px;
  padding-bottom: 7px;
  color: #2c3e5b;
}
.value {
  font-size: 37px;
  padding-bottom: 5px;
  color: #2c3e5b;
}
.section-title {
  font-size: 3rem;
  padding-bottom: 7px;
}
.section-desc {
  font-size: 18px;
}

@media screen and (max-width: 540px) {
  .tokenomics-circle {
    border: 6px solid #ffad62;
    border-radius: 0% !important;
    overflow: hidden;
    width: 286px !important;
    height: 331px !important;
  }
}

@media screen and (max-width: 1280px) {
  .tokenomics-circle {
    border: 6px solid #ffad62;
    border-radius: 50%;
    overflow: hidden;
    width: 391px;
    height: 391px;
    margin-left: -6px !important;
  }
}

@media screen and (max-width: 1024px) {
  /* div#tokenomics {
    padding-top: 110px;
  } */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
  }
  .tokenomics-circle {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .tokenomics-circle {
    border: 6px solid #ffad62;
    border-radius: 50%;
    overflow: hidden;
    width: 230px !important;
    height: 391px;
    margin-left: -6px !important;
  }
  .info-block {
    border: none;
    box-shadow: 0px 10px 48px rgb(0 0 0 / 4%);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 7px;
  }
  .section-title {
    font-size: 2rem;
    padding-bottom: 7px;
  }
}

/* FOOTER */

p.footer-para {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.copyright-content {
  text-align: center;
}
img.footerlogo {
  width: 10%;
  position: absolute;
  left: 45%;
  top: -26%;
}
.footercontainer {
  padding-top: 140px;
}
.social-links {
  text-align: center;
  margin-top: 10px;
}
.info-listing {
  margin-bottom: 170px;
}
.footer-content {
  background: #414141;
  color: #fff;
  position: relative;
  padding-top: 107px;
  padding-bottom: 25px;
}
svg.twitter {
  margin-right: 15px;
}
a.email {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: 0.4s;
}
a.email:hover {
  color: #f89c24;
}

@media screen and (max-width: 540px) {
  img.footerlogo {
    position: absolute;
    left: 37%;
    top: -17% !important;
    width: 30%;
  }
}

@media screen and (max-width: 412px) {
  img.footerlogo {
    position: absolute;
    left: 37%;
    top: -17%;
    width: 30%;
  }
}

@media screen and (max-width: 912px) {
  img.footerlogo {
    position: absolute;
    left: 37%;
    top: -50%;
    width: 30%;
  }
  .footercontainer {
    height: 24vh;
    position: relative;
  }
}
@media screen and (max-width: 280px) {
  .footercontainer {
    height: 43vh !important;
    position: relative;
  }
  img.footerlogo {
    position: absolute;
    left: 37%;
    top: -15%;
    width: 30%;
  }
  .copyright-container {
    text-align: center;

    height: 16vh !important;
    padding-top: 2rem;
    font-size: 18px;
    color: white;
  }
}

/* ROADMAP */

h2#roadmap-cont {
  text-align: center;
  font-size: 3rem;
}
.container {
  padding-bottom: 0px;
  padding-top: 1.5rem;
}
.vertical-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
}
.vertical-timeline.vertical-timeline--two-columns:before {
  margin-left: -2px;
  background: #ffad62 !important;
}

@media screen and (max-width: 1920px) {
  .container-fluid {
    max-width: 1440px;
  }
  .container {
    padding-bottom: 0px;
    padding-top: -5rem;
  }
  .section-header {
    text-align: center;
    margin-bottom: 50px;
    color: #2c3e5b;
    padding-top: 160px;
  }
  .section-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-content {
    background: #414141;
    color: #fff;
    position: relative;
    padding-top: 107px;
    padding-bottom: 25px;
  }
  section.header-scetion {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
